#contact {
    font-family: 'Permanent Marker', cursive;
}

#button-contact {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    width: 85px;
    text-decoration: underline;
    background-color: rgb(15, 34, 84);
    border: none;
    color: silver;
}